[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/CSUS-LLVM/llvm-project.git
	branch = optsched
[submodule "flang-llvm"]
	path = flang-llvm
	url = https://github.com/CSUS-LLVM/llvm.git
	branch = optsched
[submodule "flang-driver"]
	path = flang-driver
	url = https://github.com/flang-compiler/flang-driver.git
	branch = release_60
[submodule "openmp"]
	path = openmp
	url = https://github.com/llvm-mirror/openmp.git
[submodule "flang"]
	path = flang
	url = https://github.com/flang-compiler/flang.git
